:root {
    --bs-body-font-family: "Poppins", sans-serif;
    --bs-primary: #57707c;
}

body {
    width: 100vw;
    min-height: 100vh;
}

/*breakpoint css*/
/*--scr-sm-device: 576px;*/
/*--scr-md-device: 768px;*/
/*--scr-lg-device: 992px;*/
/*--scr-xl-device: 1200px;*/
/*--scr-xxl-device: 1400px;*/

/*
* Utils
1. Customize color
2. Header
3. Sidebar
*/

/**Utils*/
.svg-icon {
    width: 20px;
    height: 20px;
}

/*1. Customize color*/
.bg-primary {
    background-color: var(--bs-primary) !important;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border: none;
    outline: none;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.btn {
    outline: none;
}

p {
    margin-bottom: 0;
}

/*2. Header*/
.header-logo {
    max-width: 140px;
}

@media (min-width: 576px) {
    .header-logo {
        max-width: 200px;
    }
}

.header-logo .header-logo__wrapper {
    padding-bottom: calc(34 / 200 * 100%);
}

.menu-dropdown {
    max-width: 360px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 50;
}

.menu-dropdown.active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 576px) {
    .menu-dropdown {
        left: unset;
        transform: unset;
        right: 12px;
    }
}

@media (min-width: 1200px) {
    .menu-dropdown {
        right: 0;
    }
}

.menu-dropdown__search .menu-dropdown__search-input {
    outline: none;
    padding: 12px 48px 12px 20px;
    font-size: 16px;
}

.menu-dropdown__search .menu-dropdown__search-icon {
    width: 48px;
}

/*3. Sidebar*/
.sidebar-container {
    position: relative;
}

@media (min-width: 768px) {
    .sidebar-container {
        border-right: 1px solid var(--bs-primary);
    }
}

.sidebar-container .sidebar-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 50;
    color: #ffffff;
    background-color: var(--bs-primary);
}

.sidebar-container .sidebar-btn.active {
    color: var(--bs-primary);
    background-color: #ffffff;
}

.sidebar-container .sidebar-wrapper {
    position: fixed;
    top: 108px;
}

@media (max-width: 991px) {
    .sidebar-container .sidebar-wrapper {
        left: -100%;
        background-color: var(--bs-primary);
        width: 95%;
        margin: 0 auto;
        padding: 24px;
        color: #ffffff;
        transition: all .2s ease-in-out;
    }

    .sidebar-container .sidebar-wrapper.active {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 992px) {
    .sidebar-container .sidebar-wrapper {
        width: fit-content;
        color: var(--bs-primary);
    }
}

.sidebar-container .sidebar-wrapper h6 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-container .sidebar-wrapper .nav .nav-item {
    padding: 24px 0;
}

.sidebar-container .sidebar-wrapper .nav .nav-item:not(:last-child) {
    border-bottom: 1px solid #ffffff;
}

@media (min-width: 992px) {
    .sidebar-container .sidebar-wrapper .nav .nav-item:not(:last-child) {
        border-bottom: 1px solid var(--bs-primary);
    }
}

.sidebar-container .sidebar-wrapper .nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .sidebar-container .sidebar-wrapper .nav .nav-item .nav-link {
        color: var(--bs-primary);
    }
}