:root {
    --bs-body-font-family: "Poppins", sans-serif;
    --bs-primary: #57707c;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

/*custom scrollbar*/
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*breakpoint css*/
/*--scr-sm-device: 576px;*/
/*--scr-md-device: 768px;*/
/*--scr-lg-device: 992px;*/
/*--scr-xl-device: 1200px;*/
/*--scr-xxl-device: 1400px;*/

/*
* Utils
1. Customize color
2. Header
3. Sidebar
3. Blog content
4. Info box card
5. Banner
6. Blog comment
*/

/**Utils*/
.svg-icon {
    width: 20px;
    height: 20px;
}

.divider {
    margin: 35px 0;
    height: 1px;
    width: 100%;
    background-color: var(--bs-primary);
}

@media (min-width: 768px) {
    .divider {
        margin: 70px 0;
    }
}

/*1. Customize color*/
.bg-primary {
    background-color: var(--bs-primary) !important;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border: none;
    outline: none;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.btn {
    outline: none;
}

.btn-secondary {
    background-color: #ffffff;
    border-radius: unset;
    color: var(--bs-primary);
    padding: 13px 25px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

p, blockquote, h6 {
    margin-bottom: 0;
}

/*2. Header*/
.header-container {
    z-index: 100;
}

.header-logo {
    max-width: 140px;
}

@media (min-width: 576px) {
    .header-logo {
        max-width: 200px;
    }
}

.header-logo .header-logo__wrapper {
    padding-bottom: calc(34 / 200 * 100%);
}

.menu-dropdown {
    max-width: 360px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

.menu-dropdown.active {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 576px) {
    .menu-dropdown {
        left: unset;
        transform: unset;
        right: 12px;
    }
}

@media (min-width: 1200px) {
    .menu-dropdown {
        right: 0;
    }
}

.menu-dropdown__search .menu-dropdown__search-input {
    outline: none;
    padding: 12px 48px 12px 20px;
    font-size: 16px;
}

.menu-dropdown__search .menu-dropdown__search-icon {
    width: 48px;
}

/*3. Sidebar*/
.sidebar-container {
    position: relative;
}

@media (min-width: 768px) {
    .sidebar-container {
        border-right: 1px solid var(--bs-primary);
    }
}

.sidebar-container .sidebar-wrapper {
    transition: all .2s ease-in-out;
}

.sidebar-container .sidebar-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 100;
    color: #ffffff;
    background-color: var(--bs-primary);
}

.sidebar-container .sidebar-btn > svg {
    transition: all .125s ease-in-out;
}

.sidebar-container .sidebar-btn.active > svg {
    transform: rotate(180deg);
}

.sidebar-container .sidebar-wrapper {
    position: fixed;
    width: 100%;
    top: 108px;
}

@media (max-width: 991px) {
    .sidebar-container .sidebar-wrapper {
        left: -100%;
        background-color: var(--bs-primary);
        margin: 0 auto;
        padding: 24px;
        color: #ffffff;
        transition: all .2s ease-in-out;
    }

    .sidebar-container .sidebar-wrapper.active {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 992px) {
    .sidebar-container .sidebar-wrapper {
        position: sticky;
        color: var(--bs-primary);
        max-width: 300px;
        width: 100%;
    }
}

.sidebar-container .sidebar-wrapper h6 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-container .sidebar-wrapper .nav .nav-item {
    padding: 24px 0;
}

.sidebar-container .sidebar-wrapper .nav .nav-item:not(:last-child) {
    border-bottom: 1px solid #ffffff;
}

@media (min-width: 992px) {
    .sidebar-container .sidebar-wrapper .nav .nav-item:not(:last-child) {
        border-bottom: 1px solid var(--bs-primary);
    }
}

.sidebar-container .sidebar-wrapper .nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .sidebar-container .sidebar-wrapper .nav .nav-item .nav-link {
        color: var(--bs-primary);
    }
}

/*3. Blog content*/
.blog-content__container, .blog-title__wrapper {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .blog-content__container, .blog-title__wrapper {
        padding: 0 38px;
    }
}

.blog-title__container .blog-title__wrapper .title {
    font-size: clamp(30px, 10vw, 40px);
    font-weight: 800;
    margin-bottom: 14px;
}

.blog-title__container .blog-title__wrapper .sub-title {
    font-size: 18px;
}

.blog-content__container {
    padding-top: 38px;
    padding-bottom: 38px;
}

.blog-image__container {
    max-width: 914px;
    width: 100%;
}

.blog-image__container:not(:first-child) {
    margin-top: 18px;
}

@media (min-width: 768px) {
    .blog-image__container:not(:first-child) {
        margin-top: 32px;
    }
}

.blog-image__container .blog-image__wrapper {
    position: relative;
    width: 100%;
    padding-bottom: calc(308 / 735 * 100%);
}

.blog-image__container .blog-image__wrapper > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.blog-content__wrapper .blog-content__title {
    font-size: clamp(20px, 10vw, 30px);
    font-weight: 700;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .blog-content__wrapper .blog-content__title {
        margin-top: 55px;
    }
}

.blog-content__wrapper .blog-content__detail {
    font-size: 18px;
    font-weight: 400;
    margin-top: 18px;
    line-height: 32px;
}

@media (min-width: 768px) {
    .blog-content__wrapper .blog-content__detail {
        margin-top: 32px;
    }
}

.blog-content__wrapper .blog-content__quote {
    font-style: italic;
    padding-left: 18px;
    border-left: 4px solid var(--bs-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 18px;
}

@media (min-width: 768px) {
    .blog-content__wrapper .blog-content__quote {
        margin-top: 32px;
    }
}

.blog-content__footer-icon {
    max-width: 147px;
    width: 100%;
}

.blog-content__footer-icon .blog-content__footer-icon__container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.blog-content__footer-icon .blog-content__footer-icon__container > img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
}

.blog-content__footer-content .blog-content__footer-content__header .title {
    font-weight: 700;
    font-size: 18px;
}

.blog-content__footer-content .blog-content__footer-content__header .sub-title, .blog-content__footer-content .description {
    font-weight: 400;
    font-size: 18px;
}

.blog-content__footer-content .description {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .blog-content__footer-content .description {
        margin-top: 30px;
    }
}

/*4. Info box card*/
.info-box__container .info-box__content > p {
    font-size: clamp(20px, 5vw, 22px);
    font-weight: 500;
}

/*5. Banner*/
.banner-section__container {
    margin: 25px 0;
    background: linear-gradient(244.35deg, rgba(26, 184, 222, 0.8) 0.59%, rgba(87, 112, 124, 0.9) 98.66%);
}

@media (min-width: 768px) {
    .banner-section__container {
        margin: 50px 0;
    }
}

.banner-section__container > .container > .row {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .banner-section__container > .container > .row {
        padding: 0 38px;
    }
}

.banner-section__container .banner-section__content {
    padding: 38px 0;
}

@media (min-width: 768px) {
    .banner-section__container .banner-section__content {
        padding: 76px 0;
    }
}

.banner-section__container .banner-section__content .sub-title, .banner-section__container .banner-section__content .detail-list > li {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.banner-section__container .banner-section__content .title {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: clamp(36px, 5vw, 50px);
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-section__container .banner-section__content .detail-list {
    margin-bottom: 24px;
}

.banner-section__container .banner-section__content .detail-list > li:not(:last-child) {
    margin-bottom: 8px;
}

.banner-section__container .banner-section__image .banner-section__image-container {
    max-width: 360px;
    width: 100%;
}

.banner-section__container .banner-section__image .banner-section__image-container .banner-section__image-wrapper {
    width: 100%;
    padding-bottom: calc(426 / 360 * 100%);
    position: relative;
}

.banner-section__container .banner-section__image .banner-section__image-container .banner-section__image-wrapper > img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*6. Blog comment*/
.blog-comment__container {
    padding: 38px 20px;
}

@media (min-width: 768px) {
    .blog-comment__container {
        padding-left: 38px;
        padding-right: 38px;
    }
}

.blog-comment__container .title {
    font-size: clamp(25px, 5vw, 30px);
    font-weight: 700;
}

.blog-comment__container .blog-comment__body {
    margin-top: 35px;
}

@media (min-width: 768px) {
    .blog-comment__container .blog-comment__body {
        margin-top: 70px;
    }
}

.blog-comment__container .blog-comment__item-container.blog-comment_item-reply {
    padding-left: 53px; /*= avatar width + margin-left of .blog-comment__item-content*/
    margin-top: 30px;
    position: relative;
}

@media (min-width: 768px) {
    .blog-comment__container .blog-comment__item-container.blog-comment_item-reply {
        padding-left: 96px; /*= avatar width + margin-left of .blog-comment__item-content*/
        margin-top: 60px;
    }
}

.blog-comment__container .blog-comment__item-container.blog-comment_item-reply:before {
    content: '';
    height: 35px;
    width: 5px;
    background-color: var(--bs-primary);
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 768px) {
    .blog-comment__container .blog-comment__item-container.blog-comment_item-reply:before {
        height: 63px;
    }
}

.blog-comment__container .blog-comment__item-container .blog-comment__item-avatar {
    width: 35px;
}

@media (min-width: 768px) {
    .blog-comment__container .blog-comment__item-container .blog-comment__item-avatar {
        width: 63px;
    }
}

.blog-comment__container .blog-comment__item-container .blog-comment__item-avatar .blog-comment__item-avatar__container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.blog-comment__container .blog-comment__item-container .blog-comment__item-avatar .blog-comment__item-avatar__container > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-comment__container .blog-comment__item-container .blog-comment__item-content {
    flex: 1;
    margin-left: 18px;
}

@media (min-width: 768px) {
    .blog-comment__container .blog-comment__item-container .blog-comment__item-content {
        margin-left: 33px;
    }
}

.blog-comment__container .blog-comment__item-container .blog-comment__item-content .blog-comment__item-content__header, .blog-comment__container .blog-comment__item-container .blog-comment__item-content .blog-comment__item-content__body {
    font-size: 18px;
}

.blog-comment__container .blog-comment__item-container .blog-comment__item-content .blog-comment__item-content__body, .blog-comment__container .blog-comment__item-container .blog-comment__item-content .blog-comment__item-content__footer {
    margin-top: 15px;
}

@media (min-width: 768px) {
    .blog-comment__container .blog-comment__item-container .blog-comment__item-content .blog-comment__item-content__body, .blog-comment__container .blog-comment__item-container .blog-comment__item-content .blog-comment__item-content__footer {
        margin-top: 30px;
    }
}

.blog-comment__container .blog-comment__item-container .blog-comment__item-content .blog-comment__item-content__footer > .btn {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--bs-primary);
}

.blog-comment__container .blog-comment__item-container .blog-comment__item-content .blog-comment__item-content__footer > .btn:hover {
    color: #246B7D;
}
